node_modules
.DS_Store
.env- store_artifacts:
    path: path/to/csv/files
.vscode/settings.json
.siteLocator.json
cypress/result/
output.txt
output2.txt
output.json
output2.json
cypress/fixtures/*.json
fixtures/*.json